@import "variables";

#info_block {
  margin-top: 7rem;

  & .info_section {
    margin-top: 3rem;

    & .big_text {
      @include style_text(45px, 59px);
      font-weight: 900;
      margin-right: 1.2em;
      text-transform: uppercase;
      
      & .green_text{
        color: $green;
      }
    }

    & .small_text {
      margin-top: 2rem;
      font-size: 1.7em;
    }

    & .buttons {
      margin-top: 2.5em;

      & button {
        min-width: 170px;
        width: auto;
        height: 50px;
        font-size: 1.1em;

        &.plug {
          margin-right: 1.5em;
        }

      }

      @include media('max', 'sm') {
        flex-wrap: wrap;

        button {
          width: 100%;
        }
        button.plug {
          margin-bottom: 1em;
          margin-right: 0;
        }
      }

    }


    @include media('max', 'xl') {
      .big_text {
        font-size: 3.5em;
        margin-right: 1em;
        line-height: 1.2em;
      }
      .small_text {
        font-size: 1.4em;
        margin-right: 30px;
      }
    }

    @include media('max', 'md') {
      .big_text {
        margin-right: 0;
      }
      .small_text {
        margin-right: 0;
      }
    }
    @include media('max', 'sm') {
      .big_text {
        font-size: 3em;
        line-height: 1em;
      }
      .small_text {
        font-size: 1em;
      }
    }
    @include media('max', 'xs') {
      .big_text {
        font-size: 2em;
      }
    }
  }

  & .img_section {
    position: relative;

    & .img_position {
      position: absolute;

      &:nth-child(1) {
        top: 0;
        left: -10%;
        z-index: 55;
      }

      &:nth-child(2) {
        top: 10%;
        right: -5%;
        z-index: 54;
      }

      &:nth-child(3) {
        bottom: 0;
        left: 10%;
        z-index: 53;
      }

      & .img_container {
        position: relative;
        height: 330px;
        width: 330px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          object-fit: contain;
          display: block;
        }

        @include media('max', 'xxl') {
          height: 290px;
          width: 290px;
        }

        @include media('max', 'xl') {
          height: 240px;
          width: 240px;
        }
        @include media('max', 'lg') {
          height: 200px;
          width: 200px;
        }

      }

      @include media('max', 'xxl') {
        &:nth-child(1) {
          top: 5%;
          left: -10%;
          z-index: 55;
        }

        &:nth-child(2) {
          top: 10%;
          right: 0;
          z-index: 54;
        }

        &:nth-child(3) {
          bottom: 5%;
          left: 10%;
          z-index: 53;
        }
      }

      @include media('max', 'xl') {
        &:nth-child(1) {
          top: 0;
          left: -10%;
          z-index: 55;
        }

        &:nth-child(2) {
          top: 10%;
          right: 5%;
          z-index: 54;
        }

        &:nth-child(3) {
          bottom: 0;
          left: 10%;
          z-index: 53;
        }
      }

      @include media('max', 'lg') {
        &:nth-child(1) {
          top: 20%;
          left: -10%;
          z-index: 55;
        }

        &:nth-child(2) {
          top: 25%;
          right: -5%;
          z-index: 54;
        }

        &:nth-child(3) {
          bottom: 10%;
          left: 15%;
          z-index: 53;
        }
      }
    }

    @include media('max', 'md') {
      display: none;
    }
  }
}

#benefits_block {
  margin-top: 10em;

  .button_inner button {
    font-size: 1.2em;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    text-transform: none;
    letter-spacing: 1.5px;

    @include media('max', 'sm') {
      font-size: 1em;
      width: 100%;
    }
  }

  .cards_inner {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    .card {
      margin-top: 2em;
      width: 23rem;
      padding: 3em;
      border-radius: 10%;
      text-align: center;

      & .card-img-top {
        border-radius: 100%;
        width: 12rem;
        margin: 0 auto 3em auto;
      }

      &:first-child {
        margin-left: 0;
      }

      @include media('max', 'xxl') {
        width: 20rem;

        & .card-img-top {
          width: 10rem;
          margin-bottom: 1em;
        }
      }

      @include media('max', 'xl') {
        width: 16rem;
        padding: 2em;

        & .card-img-top {
          width: 8rem;
        }

        & .card-body .card-text {
          font-size: .9em;
        }
      }

      @include media('max', 'lg') {
        width: 47%;

        & .card-img-top {
          width: 8rem;
        }

        & .card-body .card-text {
          font-size: .9em;
        }

        &:first-child {
          margin-left: 0;
        }
      }

      @include media('max', 'sm') {
        width: 100%;
        padding: 3em;

        & .card-img-top {
          width: 10rem;
          margin-bottom: 2em;
        }

        & .card-body .card-text {
          font-size: .9em;
        }

        &:first-child {
          margin-left: 0;
        }
      }

    }
  }
}